

.btn::before {
    content: 'Pasa por encima';
    font-size: xx-large;
}

.btn:hover::before {
    opacity: 0;
    position: absolute;
}

.btn:hover::after {
    opacity: 1;
    background-color: green;
    color: white;
    content: '¡Hecho!';
    font-size: xx-large;
}

